ansible/
rollsberi_backend_env
*.swp
/secure
**/secure
**secure
secure.py
**/__pycache__
.env
.env.prod
.env.dev
**/.env
/env
env
test
.test
pyrightconfig.json
**/static/
imports
exports
vk_core
ok_core
yt_core
.DS_Store
dump
tests
static
**DS_Store
*.log
